# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://cafe:c4f3dourado0609@191.101.18.52:5432/cafe?schema=public"
NEXT_PUBLIC_DOMAIN="DOMAIN"
SECRET_KEY="development"
NEXTAUTH_SECRET="development"
NEXTAUTH_URL="http://DOMAIN/api/auth"
NODE_ENV=production